<!DOCTYPE html>
<html lang="en">
<head>
    @using ChatBot.MessageSpeaker;
    @{
        ViewData["Title"] = "Home Page";
        ViewData["speedLabel"] = $"Speed ({GoogleTTSSettings.MinTTSSpeed} - {GoogleTTSSettings.MaxTTSSpeed})";
        ViewData["pitchLabel"] = $"Pitch ({GoogleTTSSettings.MinTTSPitch} - {GoogleTTSSettings.MaxTTSPitch})";
    }
    <style>
        .vertical {
            margin-bottom: 10px;
        }

        button {
            margin-top: 0px !important;
            float: right !important;
        }

        * {
            font-size: 18px;
        }

    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="stylesheet" href="~/css/site.css">
    <script type="text/javascript"> 
            
                $().ready(function () {

                    // Enable text based filtering for voices
                    $("#voiceSearchBox").bind("keyup", function() {
                        var text = $(this).val().toLowerCase();

                        Array.from(document.getElementById('voiceid').children).forEach(function (element)
                        {
                            if (element.innerText.toLowerCase().includes(text) || text == '') {
                                element.style.display = 'block';
                            } else {
                                element.style.display = 'none';
                            }
                        });
                    });


                    // adjust listbox attributes
                    var listbox = $('#voiceid');
                    listbox.css('height', '175px');

                });


                function TestTTSVoice() {
        
                var voice1 = {
                    id: $('#voiceid').val()[0],
                    username: 'test',
                    message: $('#txtMessage').val(),
                    speed: $('#speed').val(),
                    pitch: $('#pitch').val(),
                };

                $.ajax({
                    type: 'post',
                    url: '@Url.Action("TestTTSVoice", "Home")',
                    contentType: "application/json",
                    data: JSON.stringify(voice1),
                    success: function(data) { 

                        audioTester = new Audio("data:audio/wav;base64," + data);
                        audioTester.play();
                    }
                });
             
            }

            function SetTTSVoice() {
                var voice = {
                    id: $('#voiceid').val()[0],
                    username: $('#username').val(),
                    speed: $('#speed').val(),
                    pitch: $('#pitch').val(),
                };
        
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("SetTTSVoice", "Home")',
                    contentType: "application/json",
                    data: JSON.stringify(voice),
                    success: function() { }
                });
             
            }
    </script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js?v=0"></script>
</head>
<!-- 218 234 254-->
<body>
    <div class="webbody" style="margin-left: auto; height: 100vh; padding: 10px; margin-right: auto; max-width: 340px; 
                            border-left: 2px solid; border-right: 2px solid; border-color: rgb(218, 234, 254)"> 
    
            <div class="vertical">
                @Html.ListBox("voiceid", ViewBag.googleTTSVoices, "")
            </div>
            <div class="vertical">
                <label><input id="voiceSearchBox" type="text" placeholder="Search for a dialect" /></label>
            </div>
            <!-- Gender, speed, pitch -->
            <div class="vertical">
                <fieldset class="flex two demo">
                   <label>@ViewData["speedLabel"]
                       <input id="speed" value="1" type="number" placeholder="@ViewData["speedLabel"]"
                           min="@GoogleTTSSettings.MinTTSSpeed" max="@GoogleTTSSettings.MaxTTSSpeed" step="0.1"/></label>
                   <label>@ViewData["pitchLabel"]
                       <input id="pitch" value="0" type="number" placeholder="@ViewData["pitchLabel"]"
                           min="@GoogleTTSSettings.MinTTSPitch" max="@GoogleTTSSettings.MaxTTSPitch"/></label>
                </fieldset>
            </div>
            <div class="flex four demo vertical">
                <div class="three-fourth">
                    <label><input id="txtMessage" maxlength="25" type="text" placeholder="Enter sample text here"/></label>
                </div>
                <div class="one-fourth">
                <button onclick="TestTTSVoice()" style="background: #0ccc89">Test</button>
                </div>
            </div>
            <div class="vertical flex four demo">
                <div class="three-fourth">
                    <label><input type="text" id="username" placeholder="Username for voice save" /></label>
                </div>
                <div>
                    <button onclick="SetTTSVoice()" class="button" style="background: green;">Save</button>
                </div>
            </div>
        </div>
    </body>
</html>